<footer class="footer mt-3 pt-3">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; Ecommerce App 2023</p>
    </div>
</footer>